*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter,sans-serif;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    color: white;
}

.logo img{
    padding-top: 3rem;
    width: 30rem;
    background-blend-mode: color;
    overflow-y: hidden;
 }

nav{
    background-color: black;
    width: 100vw;
    position: relative;
}

.nav-bar{
    height: 9rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    font-size: 1.8rem;
}

.nav-bar-mb{
    display: none;
    height: 9rem;
    background-color: black;
    color: white;
    width: 80vw;
    margin: 0 auto;
    font-size: 1.8rem;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-mb-menu{
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 3rem;
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 200;
    width: 40vw;
    background-color: #784BA0;
    right:0;
    transition: width 0.3s ease;
}

.nav-bar-mb-menu li:not(:last-child){
   border-bottom: 1px solid black;
}

.nav-bar-mb-menu li{
    padding-top: 2rem;
}

.nav-bar-mb-menu li a{
    color: #000000;
}

.close-menu{
        align-self: flex-end;
        padding-right: 2rem;
        padding-top: 1rem;
        font-size: 18px;
}

.close-menu i:hover{
    color:black;
    transition: all 0.2s ease;
}

.no{
    display: none;
    transition: width 0.3s ease;
}

.nav-bar ul{
display: flex;
}

.nav-items{
    margin: 0 2rem;
    position: relative;
    cursor: pointer;
}

.nav-items a{
    color: white;
}

.nav-items::after{
    content: "";
    height: 0.3rem;
    width: 0%;
    background-color: darkviolet;
    position: absolute;
    bottom: -1rem;
    left: 0;
    border-radius: 0.2rem;
    transition: width 0.5s;
}

.nav-items:hover::after
{
    width: 100%;
    transition: width 0.5s;
}

/* End of Navigation */

/* Header section */
header{
    padding: 3rem 0;
    height: 67rem;
    width: 100vw;
    background-color: aqua;
    background: url("images/main.png")center center/cover;
    position: relative;
}

.hero-text{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main-text-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Marvel", serif;
    width: 40%;
    margin-top: 3rem;
    font-size: 13rem;
    position: absolute;
    transform: translate(50%, -50%) scale(0);
    top: 20%;
}

.change{
    transform: translate(50%, -50%) scale(1);;
    transition: transform 0.5s ease;
}


.hero-btn{
background-color: white;
width: 30rem;
height: 5rem;
border-radius: 1rem;
margin: 2rem 0;
font-size: 2rem;
font-weight: 600;
cursor: pointer;
border: 3px solid darkblue;
}

.hero-btn:hover{
    scale:1.2;
    color: #FFF5EE;
    background-color: darkviolet;
    transition: all 0.3s;
}

.sub-hero-content{
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 7rem;
    line-height: 1.6;
    letter-spacing: 2px;
    font-weight: 200;
    text-shadow: 1px 2px 2px darkviolet;
}

/* end of header */


main{
    width: 100vw;
}

/* Section 1 */
#section-1
{
    padding:3rem 2rem;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #000000, #171637);
    text-align: center;
}

.section-heading{
    font-size: 6rem;
    opacity: 0.8;
    margin: 8rem 0;
}

.services{
    width: 100%;
    margin-top: 15rem;
    /* height: 90%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sub-services{
    width: 20%;
    height: 40rem;
    font-weight: bolder;
    background-color: darkviolet;
    background-image: linear-gradient(225deg, darkviolet 0%, #784BA0 50%, #2B86C5 100%);
    line-height: 1.6;
    letter-spacing: 1px;
    color: #000000;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: rotateY(20deg) skewY(-2deg);
    transition: transform 0.5s;
}

.sub-services:hover{
    transform: scale(1.1);
    box-shadow: 2rem 2rem 2rem #000;
    transition: transform 0.5s;
}

.sub-services h3{
    font-size: 2.5rem;
    color: #000000;
}

.sub-services p{
    width: 80%;
    margin: 0 auto;
}
/* End of Section 1 */

/* Section 2 */
#section-2{
    width: 100%;
    background: linear-gradient(to bottom,#171637, #000000);
    padding: 3rem 3rem;
    text-align: center;
    min-height: 100vh;
}

.upper-section-2{
    margin-bottom: 6rem;
}

.section-2-text{
    font-size: 17px;
    width: 80%;
    margin: 1rem auto;
    line-height: 1.6;
    letter-spacing: 0.2rem;
    color: #FFF5EE;
}

.mission{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.mission h3{
    font-size: 33px;
    text-transform: capitalize;
    color: darkviolet;
}

.sub-mission-containers{
    margin-top: 4rem; 
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.sub-mission{
    width: 23%;
    font-size: 15px;
    border-radius: 5px;
}

.sub-mission:hover{
    scale: 1.1;
    box-shadow:-4px -4px 1px #000000;
    transition: all 0.2s ease;
}

.icon-mission{
    height: 30%;
    color:darkviolet;
    padding: 1rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-mission-text{
    padding: 2rem;
}
/* End of section 2 */

/* contact us */
#contact-us{
    min-height: 80vh;
    width: 100%;
    padding: 3rem 3rem;
    background-color: #000000;
    text-align: center;
}

.contact-form{
width:80%;
margin: 0 auto;
display: flex;
justify-content: center;
}

.contact-form form{
    width: 70%;
    height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    font-size: 14px;
    font-weight: 600;
}

.form-name, .form-mail{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-name label, .form-mail label{
   align-self: flex-start;
   margin-bottom: 1rem;
   color: #FFF5EE;
}

.form-name input, .form-mail input, .form-message{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    color: #FFF5EE;
}

.form-message{
    height: 10rem;
    width: 100%;
    resize: none;
}

form button[type="submit"]{
 align-self: center;
 width: 20rem;
 height: 4rem;
 border-radius: 5px;
 border: none;
 outline: none;
 font-weight: 400;
 font-size: 14px;
}

.form-name input:focus, .form-mail input:focus, .form-message:focus
{
    border-color: darkviolet;
}

form button[type="submit"]:hover{
scale: 1.2;
color: #FFF5EE;
font-weight: bold;
background-color: darkviolet;
transition: all 0.2s ease;
}
/* End of Contact us */

/* footer */
.footer{
    height: 20rem;
    width: 100vw;
    font-size: 16px;
    background-color: #000000;
    padding: 1rem 1rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-logo{
    height: 30%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.footer-logo a img{
    width: 20rem;
}

.footer-services{
    margin:1rem 0;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-services ul{
    display: flex;
    gap:1.5rem;
    text-decoration: none;
}

.footer-services ul li a{
    color: #FFF5EE;
}

.footer-services address{
    font-size: 12px;
    margin-left: auto;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    height: 20%;
    font-size: 10px;
}



/* End of Footer */

.text-gradient {
    color: #D98880; 
    background-image: radial-gradient(closest-side, #D98880 0%, #C74375 100%, #912D5E 57%, #5A1846 55%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
/* Mobile optimisation */
@media(max-width:1400px){
.main-text-content{
    font-size: 10rem;
}
.sub-services{
    line-height: 1.3;
    min-width:23%;
}

}

@media(max-width:1150px){
 .main-text-content{
    font-size: 8rem;
 }
 .sub-mission{
    font-size: 13px;
 }
}

@media (max-width:1000px){
.logo img{
    padding-top: 2rem;
    width: 25rem;
}

.nav-bar{
    display: none;
}
.nav-bar-mb{
    display: flex;
}

.hero-btn{
    font-size: 16px;
    height: 4rem;
    width: 26rem;
    background-color: darkviolet;
}

.hero-btn:hover{
    scale: 1;
}

.sub-hero-content{
    margin-bottom: 5rem;
}
.services{
    flex-wrap: wrap;
}

.section-heading{
    font-size: 4rem;
}

.sub-services{
    width: 40%;
    font-size: 1.1rem;
    height: 25rem;
    padding: 2rem;
    margin-bottom: 1rem;
    transform: none;
}

.sub-services:hover{
    scale: 1;
}

.mission h3{
    font-size: 28px;
}

.sub-services p{
    font-size: 15px;
    line-height: 1.1;
    width: 90%;
}
.sub-mission-containers{
    flex-wrap: wrap;
}
.sub-mission{
    width: 40%;
    margin-bottom: 2rem;
}

.sub-mission:hover{
    scale: 1;
}
.footer-services{
    width: 90%;
}
.footer-services ul{
 font-size: 12px;
}
.footer-services address{
 font-size: 10px;
}
}

@media (max-width:750px){
    .logo img{
        padding-top: 1.5rem;
        width: 22rem;
    }

    .nav-bar-mb{
        height: 7rem;
    }
    .sub-hero-content{
        margin-bottom: 3rem;
        width: 80%;
    }
    .sub-services{
        width: 60%;
        height: 30rem;
        margin:0 3rem;
        margin-bottom: 1.5rem;
        padding: 1rem;
    }
    .mission h3{
        font-size: 25px;
    }
    .sub-mission{
        width:55%;
        padding: 4rem 0;
    }
    form{
        width:85%;
    }
    .form-name input,.form-mail input,.form-message{
        width: 100%;
    }
    form button[type="submit"]{
        font-size: 12px;
        width:16rem;
    }
    .footer-services{
        width: 90%;
    }
    .footer-services address{
     font-size: 9px;
    }
}

@media(max-width:550px){
    .logo img{
        padding-top: 1.5rem;
        width: 20rem;
    }
    .main-text-content{
        font-size: 6rem;
        margin-top:1rem;
     }
    .sub-hero-content{
        margin-bottom: 3rem;
        width: 80%;
        font-size: 14px;
    }
    .sub-services{
        font-size: 1.2rem;
        height: 40rem;
        width: 70%;
    }
    .section-2-text{
        font-size: 13px;
        width: 90%;
    }
    .mission h3{
        font-size: 20px;
    }
    .sub-mission{
        width: 80%;
    }
    form{
        width: 95%;
    }
    form button[type="submit"]{
        width:12rem;
    }
    .footer-services ul{
        display: inline-block;
    }
    .nav-bar-mb-menu{
        align-items: center;
        padding: 5px;
        font-size: 12px;
    }
    .close-menu{
        align-self: flex-end;
        padding-right: 2rem;
        padding-top: 1rem;
        font-size: 16px;
    }

}

@media(max-width:320px){
    .hero-btn{
        width:15rem;
    }
    .sub-hero-content{
        font-size: 12px;
    }
}
/* end of css */


